<template name="Search">
	<div class="search-wrapper">
		<h1 class="header-1">
			<i class="glyphicon glyphicon-search"></i> Search for <strong>{{searchType}}'s</strong>
			{{#if isInRole 'admin'}}
				{{#if searchingForJobSeeker}}
					<span class="header-link pull-right">
						<a href="{{pathFor route='Selections'}}">List Selections</a>
						{{#if creatingSelection}}
							{{#if savingSelection}}
								<button disabled class="success">Saving...</button>
							{{else}}
								<button class="success js-save-selection">Save</button>
							{{/if}}
							<button class="default js-cancel-selection">Cancel</button>
						{{else}}
							<button class="special js-create-selection"><i class="glyphicon glyphicon-plus"></i> Create Selection</button>
						{{/if}}
					</span>
				{{/if}}
			{{/if}}
		</h1>
		<!-- SEARCH FIELDS-->
		<div class="searchfields-wrapper">
			{{#if searchingForJobSeeker}}
				{{> SearchFields_JS}}
			{{else}}
				{{> SearchFields_Emp}}
			{{/if}}
		</div>
	<!-- DISPLAY TABLE -->
		<div class="search-results-wrapper">
			<div class="results">
				
					<table>
						<thead>
							{{#if searchingForJobSeeker}}
								<tr class="job-seeker">
									<th></th> <!-- profile picture -->
									<th>Name</th>
									<th><i>Move-for</i> Salary</th>
									<th>Province</th>
									<th>SAP Module</th>
									<th>Industry</th>
									<th>IT Skills</th>
								</tr>	
							{{else}}
								<tr class="employer">
									<th>Company Name</th>
									<th>Province</th>
									<th>Telephone Number</th>
								</tr>
							{{/if}}
						</thead>
						{{#if results}}
							<tbody>
								{{#if ready}}{{else}}
									<div class="table-results-loading">
										<div class="loading-template">{{> loading}}</div>
									</div>
								{{/if}}
								{{#each results}}
									{{#if searchingForJobSeeker}}
										{{> SearchDisplay_JS}}
									{{else}}
										{{> SearchDisplay_Emp}}
									{{/if}}
								{{/each}}
							</tbody>
						{{/if}}
					</table>
					{{#if results}}{{else}}
						{{#if ready}}
							<div style="padding-top:25px;width:100%;text-align:center;color:gray;">No results to show for your search query.</div>
						{{/if}}
					{{/if}}
				
				<!-- Pagination -->
				<div class="pagination-wrapper" align="center">
					<span class="results-count">Total Results: {{#if total}}{{total}}{{else}}0{{/if}}</span>
					<span class="center-align"><!--
					-->{{#if equals page 1}}{{else}}<div class="js-page-left left">&lt;</div>{{/if}}<!--
					--><div class="page">Page {{page}}</div><!--
					--><div class="js-page-right right">&gt;</div><!--
				--></span><!--
			--></div>
			</div>
		</div>
	</div>
</template>

	<template name="SearchDisplay_JS">
		<tr class="search-result-row job-seeker">
			<!-- Profile picture -->
			<td>
				<div class="profile-picture-thumbnail" style="background-image:url('{{profile.picture.regular}}');"></div>
			</td>
			<!-- First name -->
			<td>
				<a href="{{pathFor route='Profile' _id=_id}}">
					{{#if equals profile.status 'active'}}
						<i class="glyphicon glyphicon-user listing-symbol" style="color:green;"></i>
					{{/if}}
					{{#if equals profile.status 'pending'}}
						<i class="glyphicon glyphicon-user listing-symbol" style="color:orange;"></i>
					{{/if}}
					{{#if equals profile.status 'placed'}}
						<i class="glyphicon glyphicon-user listing-symbol" style="color:gray;"></i>
					{{/if}}
					{{profile.personal_details.name}} {{profile.personal_details.surname}}
				</a>
			</td>
			<!-- MoveFor Salary -->
			<td>R {{profile.salary_details.moveFor}}</td>
			<!-- Province -->
			<td>{{profile.personal_details.province}}</td>
			<!-- SAP Module -->
			<td>{{profile.role_requirements.sap_module}}</td>
			<!-- Industry -->
			<td>{{profile.role_requirements.industry}}</td>
			<!-- Skills -->
			<td>
				{{#each profile.role_requirements.skills}}
					<span class="skill-item-wrapper">
						<span class="skill-item"><strong>{{skill}}</strong> - <i>{{years_experience}} yrs.</i></span>
					</span>
				{{/each}}
			</td>
			{{#if creatingSelection}}
				<div class="selection-control-wrapper">
					{{#if existsInSelection}}
						<button class="danger js-remove"><i class="glyphicon glyphicon-minus"></i></button>
					{{else}}
						<button class="success js-add"><i class="glyphicon glyphicon-plus"></i></button>
					{{/if}}
				</div>
			{{/if}}
		</tr>
	</template>

	<template name="SearchDisplay_Emp">
		<tr class="search-result-row employer">
			<a href="{{pathFor route='Profile' _id=_id}}">
				<td>{{#if equals profile.status 'verified'}}<i class="glyphicon glyphicon-ok-sign" style="color:green;"></i> {{/if}}{{profile.company_details.name}}</td>
			</a>
			<td>{{profile.company_details.province}}</td>
			<td>+27 {{profile.company_details.tel_number}}</td>
		</tr>
	</template>

	<template name="SearchFields_JS">
		<form>
			<div>
				{{#if isInRole 'admin'}}{{> input seed='gbg' type='text' placeholder='Job Seeker Name Query' value='' session='search-query'}}{{/if}}
				<div class="search-types">
					<div>
						<i class="glyphicon glyphicon-user" style="color:green;"></i>
						Active
						{{#if isInRole 'admin'}}{{> input seed='gbg' type='checkbox' value=true session='set-active'}}{{/if}}
					</div>
					{{#if isInRole 'admin'}}
						<div>
							<i class="glyphicon glyphicon-user" style="color:orange;"></i>
							Pending
							{{> input seed='gbg' type='checkbox' value=false session='set-pending'}}
						</div>
						<div>
							<i class="glyphicon glyphicon-user" style="color:gray;"></i>
							Placed
							{{> input seed='gbg' type='checkbox' value=false session='set-placed'}}
						</div>
						<div>
							
							Details Complete
							{{> input seed='gbg' type='checkbox' value=false session='set-details-complete'}}
						</div>
						<div>
							
							Details Pending
							{{> input seed='gbg' type='checkbox' value=false session='set-details-pending'}}
						</div>
					{{/if}}
				</div>
				<!-- Skills -->
				<div class="skill-search">
					<div><strong>Skills</strong></div>
					{{> input seed='gbg' session='search-it-skills' value='' type='input-dropdown' data=ITSkills}}
				</div>
				<!-- Province -->
				<div class="combobox-search">
					<div><strong>Province</strong></div>
					{{> input seed='gbg' placeholder='Enter a Province' value='' type='combobox' session='search-province' data=provinces}}
				</div>
				<!-- Desired Position -->
				<div class="combobox-search">
					<div><strong>Desired Position</strong></div>
					{{> input seed='gbg' placeholder='Enter a Position' value='' type='combobox-other' session='search-desired-position' data=positions}}
				</div>
				<!-- SAP Module -->
				<div class="combobox-search">
					<div><strong>SAP Module</strong></div>
					{{> input seed='gbg' placeholder='Enter a Module' value='' type='combobox' session='search-sap-module' data=sapModules}}
				</div>
				<!-- Industry -->
				<div class="combobox-search">
					<div><strong>Industry</strong></div>
					{{> input seed='gbg' placeholder='Enter an Industry' value='' type='combobox-other' session='search-industry' data=industries}}
				</div>
				<!-- Current Salary -->
				<div class="to-from"><!--
					--><div><strong>Current Salary <span style="color:gray;float:right;font-size:12px;">(Monthly Salary)</span></strong></div><!--
					-->{{> input seed='gbg' placeholder='From' type='rand' session='current-high' limit=12}}<!--
					-->{{> input seed='gbg' placeholder='To' type='rand' session='current-low' limit=12}}<!--
				--></div>
				<!-- MoveFor Salary -->
				<div class="to-from"><!--
					--><div><strong>Move-for Salary <span style="color:gray;float:right;font-size:12px;">(Monthly Salary)</span></strong></div><!--
					-->{{> input seed='gbg' placeholder='From' type='rand' session='movefor-high' limit=12}}<!--
					-->{{> input seed='gbg' placeholder='To' type='rand' session='movefor-low' limit=12}}<!--
				--></div>
				<!-- Ideal Salary -->
				<div class="to-from"><!--
					--><div><strong>Desired Salary <span style="color:gray;float:right;font-size:12px;">(Monthly Salary)</span></strong></div><!--
					-->{{> input seed='gbg' placeholder='From' type='rand' session='desired-high' limit=12}}<!--
					-->{{> input seed='gbg' placeholder='To' type='rand' session='desired-low' limit=12}}<!--
				--></div>
				<button style="margin-top:8px;" type="submit" action="submit" class="js-search">Search for Job Seeker's</button>
			</div>
		</form>
	</template>

	<template name="SearchFields_Emp">
		<form>
			<div>
				<div class="search-types">
					<div>
						<i class="glyphicon glyphicon-ok-sign" style="color:green;"></i>
						Verified
					</div>
				</div>
				{{> input seed='bob' type='text' placeholder='Employer Name Query' value='' session='search-query'}}
				<!-- Province -->
				<div class="combobox-search">
					<div><strong>Province</strong></div>
					{{> input seed='bob' placeholder='Enter a Province' value='' type='combobox' session='search-province' data=provinces}}
				</div>
				<button style="margin-top:8px;" type="submit" action="submit" class="js-search">Search for Employer's</button>
			</div>
		</form>
	</template>