<template name="Admin_Index">
	<div class="admin-index-wrapper"><!--
		--><div class="header-wrapper">
			<div class="title">
				<h1><strong>ToadIT</strong> Administration Panel</h1>
				{{> userControls}}
			</div>
		</div><!--
		--><div class="navbar-wrapper">
			<ul>
				<li><a href="{{pathFor route='Home'}}">ToadIT.com</a></li>
			</ul>
			<hr class="navbar-hr" />
			<ul>
				<li><a href="{{pathFor route='Admin_Home'}}">Dashboard</a></li>
				<li><a href="{{pathFor route='Admin_Users'}}">Users</a></li>
				<!--<li><a href="{{pathFor route='Admin_Reports'}}">Reports</a></li>-->
			</ul>
			<hr class="navbar-hr" />
			<ul>
				<li><a href="{{pathFor route='Admin_Vacancies_List'}}">Vacancies</a></li>
			</ul>
			<hr class="navbar-hr" />
			<ul>
				<li><a href="{{pathFor route='Profile_Admin_Edit' _id=currentUser._id}}">Your Profile</a></li>
			</ul>
		</div><!--
		--><div class="content-wrapper">
			<div class="admin-page-wrapper">
				{{> yield}}
			</div>
		</div><!--
	--></div>
</template>

	<template name="Admin_Home">
		<div class="admin-section parent">
			<div class="title">
				<h2>Dashboard</h2>
			</div>
			<div class="admin-section">
				<div class="title">
					<h4>Recent Search Queries</h4>
				</div>
				<div class="content">
					<div>
						<h5>Employers:</h5>
						<div class="indent">
							{{#if queriesEmp}}
								<ul>
									{{#each queriesEmp}}
										{{> dashboardQueryItem}}
									{{/each}}
								</ul>
							{{else}}
								<i>No queries to show for 'Employers'</i>
							{{/if}}
						</div>
					</div>
					<div>
						<h5>Job Seekers:</h5>
						<div class="indent">
							{{#if queriesJS}}
								<ul>
									{{#each queriesJS}}
										{{> dashboardQueryItem}}
									{{/each}}
								</ul>
							{{else}}
								<i>No queries to show for 'Job Seekers'</i>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
			<div class="admin-section">
				<div class="title">
					<h4>Todays Traffic</h4>
				</div>
				<div class="content">
					<div>
						<strong><i>46 new views</i></strong>
						<div class="indent">
							- 20 Job Seekers
							<br />
							- 15 Employers
							<br />
							- 11 Unregistered
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>

		<template name="dashboardQueryItem">
			<li>
				<strong>Date: </strong>{{dateF x}}&emsp;<strong>Total Queries: </strong>{{y}}{{#if equals type 'job-seeker'}}&emsp;<a href="{{pathFor route='Admin_QueryInfo' _id=_id}}" target="_blank">View</a>{{/if}}
				<ul>
					{{#if equals type 'employer'}}
						{{#each queries}}
							<li>
								<strong>Query - </strong> {{#if query}}{{query}}{{else}}<i>None</i>{{/if}} / 
								<strong>Province - </strong> {{#if province}}{{province}}{{else}}<i>None</i>{{/if}}
							</li>
						{{/each}}
					{{else}}
						{{#each queries}}
							<li>
								<strong>Province - </strong> {{#if province}}{{province}}{{else}}<i>None</i>{{/if}} / 
								<strong>Desired Position - </strong> {{#if position.desired}}{{position.desired}}{{else}}<i>None</i>{{/if}}...
							</li>
						{{/each}}
					{{/if}}
				</ul>
			</li>
		</template>

	<template name="Admin_QueryInfo">
		<div class="query-wrapper">
			<div >Displaying All <strong>Job Seeker</strong> Queries For <strong>{{x}}</strong></div>
			<div class="sub-header">Total Queries: <strong>{{y}}</strong></div>
			<div class="query-body-wrapper">
				{{#each queries}}
					<div class="query-item-wrapper"><!--
						--><div class="general">
							<strong>Province: </strong>&emsp;{{province}}<br />
							<strong>Desired Position: </strong>&emsp;{{position.desired}}<br />
							<strong>Searched By: </strong>&emsp;{{user._id}}
						</div><!--
						--><div class="specific">
							<strong>Current Salary:</strong>
							<div class="indent">
								<strong>From: </strong>&emsp;R {{#if current_salary.from}}{{current_salary.from}}{{else}}--.--{{/if}}<br />
								<strong>To: </strong>&emsp;R {{#if current_salary.to}}{{current_salary.to}}{{else}}--.--{{/if}}<br />
							</div>
							<strong>Move For Salary:</strong>
							<div class="indent">
								<strong>From: </strong>&emsp;R {{#if moveFor_salary.from}}{{moveFor_salary.from}}{{else}}--.--{{/if}}<br />
								<strong>To: </strong>&emsp;R {{#if moveFor_salary.to}}{{moveFor_salary.to}}{{else}}--.--{{/if}}<br />
							</div>
							<strong>Ideal Salary:</strong>
							<div class="indent">
								<strong>From: </strong>&emsp;R {{#if ideal_salary.from}}{{ideal_salary.from}}{{else}}--.--{{/if}}<br />
								<strong>To: </strong>&emsp;R {{#if ideal_salary.to}}{{ideal_salary.to}}{{else}}--.--{{/if}}<br />
							</div>
						</div><!--
					--></div>
				{{/each}}
			</div>
		</div>
	</template>

	<template name="Admin_Reports">
		<div class="admin-section parent">
			<div class="title">
				<h2>Reports</h2>
			</div>
			<div class="admin-section">
				<div class="content">
					<table>
						<thead>
							<tr>
								<th>Date</th>
								<th>Employer</th>
								<th>Job Seeker</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>July 2015</td>
								<td><a href="">View</a>/<a href="">Download</a></td>
								<td><a href="">View</a>/<a href="">Download</a></td>
							</tr>
							<tr>
								<td>June 2015</td>
								<td><a href="">View</a>/<a href="">Download</a></td>
								<td><a href="">View</a>/<a href="">Download</a></td>
							</tr>
							<tr>
								<td>May 2015</td>
								<td><a href="">View</a>/<a href="">Download</a></td>
								<td><a href="">View</a>/<a href="">Download</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</template>

	<template name="Admin_Profile">
		<div class="admin-section parent">
			<div class="title">
				<h2>Your Profile</h2>
			</div>
			<div class="admin-section">
				<div class="title">
					<h4>Personal Details
						<a href="" style="float:right;"><small>Edit</small></a>
					</h4>
				</div>
				<div class="content">
					<div>
						<strong>Email address:</strong> test-admin@toadit.com<br/>
						<strong>First name:</strong> first-name
						<strong>Surname:</strong> surname
					</div>
				</div>
			</div>
			<div class="admin-section">
				<div class="title">
					<h4>Users Managed</h4>
				</div>
				<div class="content">
					<h5>Employers</h5>
					<div class="indent">
						<i>You have not managed any Employers.</i>
					</div>
					<h5>Job Seekers</h5>
					<div class="indent">
						<i>You have not managed any Job Seekers.</i>
					</div>
					<h5>Administration Staff Added</h5>
					<div class="indent">
						<i>You have not added any Administration Staff to the Admin portal.</i>
					</div>
				</div>
			</div>
		</div>
	</template>