<template name="Admin_Users">
	<div class="admin-section parent">
		<div class="title">
			<h2>Users</h2>
		</div>
		<div class="admin-section">
			<div class="title">
				<h4>Latest Users Registered</h4>
			</div>
			<div class="content">
				<div>
					<h5>Of which Employers</h5>
					<div class="indent">
						<div class="indent">
							<i>No New 'Employers' Registered.</i>
						</div>	
					</div>
				</div>
				<div>
					<h5>Of which Job Seekers:</h5>
					<div class="indent">
						<div class="indent">
							<i>No New 'Job Seekers' Registered.</i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="admin-section">
			<div class="title">
				<h4>Manage Administration Staff</h4>
			</div>
			<div class="content">
				<h5>Add New Member</h5>
				<div class="indent">
					<i>This will generate a new 'Administration Account', granting 'Admin' priveledges to the user. An email will be sent to their email address with the necessary Login details.</i><br /><br />
					<input class="js-admin-first-name" placeholder="First Name" />
					<input class="js-admin-surname" placeholder="Surname" />
					<input class="js-admin-email" placeholder="Email Address" />
					<button class="js-generate-admin">Submit</button>
				</div>
				<h5>Search Exisiting Staff</h5>
				<div class="indent">
					<i>Search for exisiting administration staff.</i>
					<input class="js-search" placeholder="User Query" />
					<div class="indent">
						<table style="width:100%;">
							<thead>
								<tr>
									<th style="width:20%;">First name</th>
									<th style="width:20%;">Surname</th>
									<th style="width:30%;">Email</th>
									<th style="width:20%;">Status level</th>
									{{#if isInRole 'root'}}
										<th style="width:10%;">Edit</th>
									{{/if}}
								</tr>
							</thead>
							<tbody>
							{{#if results}}
								{{#each results}}
									{{> administrationListItem}}
								{{/each}}
							{{else}}
								<i>No users to manage.</i>
							{{/if}}
							</tbody>
						</table>
					</div> 
				</div>
			</div>
		</div>
	</div>
</template>
	<!-- Used for listing administration members -->
	<template name="administrationListItem">
		<tr>
			<!-- First name -->
			<td>{{profile.personal_details.name}}</td>
			<!-- Surname -->
			<td>{{profile.personal_details.surname}}</td>
			<!-- Email address -->
			<td>{{email}}</td>
			<!-- Status level -->
			<td>{{#each roles}}{{.}} {{/each}}</td>
			{{#if isInRole 'root'}}
				<td><a href="{{pathFor route='Profile_Admin_Edit' _id=_id}}">Edit</a></td>
			{{/if}}
		</tr>
	</template>