<!--<title>About Us | Toad.iT</title>-->
<template name="AboutUs">
  <div id="page2" class="hfeed">
    <div id="wrapper2">
      <div id="main">
        <div id="primary">
          <div id="content" role="main">
            <article class="post hentry format-image">
              <div class="entry-content">
                <ul class="gallery-items">
                  <img class="img2" src="style/images/art/frog-welcome.jpg" alt="">
                  <img class="img2" src="style/images/art/special.png" alt=""><br />
                  <div class="text_chunk">
                    <h2>We are a team of HR and IT consultants specializing in IT Recruitment</h2>
                    <p>
                      Our team of senior IT recruiters has the technical expertise, the network of contacts and the work methodology required to meet the highest expectations. To employers we offer a full range of flexible IT staffing solutions to attract the best IT professionals.
                    </p>
                    <p>
                      To IT professionals we offer a variety of IT job opportunities and counsels to help them achieve their personal career goals. What motivates us above all is to find the perfect fit between our clients' needs and our candidates' aspirations.
                    </p>
                  </div>
                </ul><br />
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>