<!--<title>Toad.iT</title>-->
<template name="Home">
  <div id="page2" class="hfeed">
    <div id="wrapper2">
      <div id="main">
        <div id="primary">
          <div id="content" role="main">
            <article class="post hentry format-image">
              <div class="entry-content">
                <ul class="gallery-items">
                  <li class="item">
                    <br />
                    <div class="image1 emp"><a href="{{pathFor route='Login' _portal='employer'}}"><img src="style/images/art/employers.jpg" alt=""></a></div>
                    <br /><br />
                      <p class="ask">
                        Are you looking for the best IT talents in South Africa? <br /><br />
                        <a href="{{pathFor route='WhyUs_Emp'}}">Learn more &gt;&gt;</a>
                      </p>
                  </li>
                  <li class="item">
                    <div style="margin: 20px -50px -70px -40px; width: 300px; height:350px;"><img src="style/images/art/frog.jpg" alt=""></div>
                  </li>
                  <li class="item">
                    <br />
                    <div class="image1 job-s"><a href="{{pathFor route='Login' _portal='job-seeker'}}"><img src="style/images/art/job-seekers.jpg" alt=""></a></div>
                    <br /><br />
                      <p class="ask">
                        Are you looking for a new challenge in IT?<br /><br />
                        <a href="{{pathFor route='WhyUs_JS'}}">Learn more &gt;&gt;</a>
                      </p>
                  </li>
                </ul><br />
                <div class="intro">The New IT Recruitment Service for Employers and Job Seekers</div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>