
<!--<title>Why Us - Employers | Toad.iT</title>-->
<template name="WhyUs_Emp">
  <div id="page2" class="hfeed">
    <div id="wrapper2">
      <div id="main">
        <div id="primary">
          <div id="content" role="main">
            <article class="post hentry format-image">
              <div class="entry-content">
                <ul class="gallery-items">
                  <li class="item">
                    <div style="margin: 0px 0px -90px -30px; width: 350px; height:465px;"><img src="style/images/art/why-us.jpg" alt=""></div>
                  </li>
                  <li class="item">
                    <div style="margin: 20px 0px -90px 50px;"><img src="style/images/art/why-us-emp.png" alt=""></div>
                  </li>
                  
                  <li class="item">
                    <div class="item my-list my-list2">
                      <div class="green">
                        <h2>Qualified Resources</h2>
                          <h4>- Technically Qualified</h4>
                          <h4>- Criminal Checks</h4>
                          <h4>- Psychometric Checks</h4>
                          <h4>- Qualification Checks</h4>
                      </div><br />
                      <h2 class="orange">Fixed Cost of 9% Placement</h2><p>&nbsp;</p>
                      <h2 class="blue">Video Interview</h2>
                    </div>
                  </li>
                </ul> <br /><br />
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>