<template name="ForgotPassword">
	<div class="fyp-wrapper">
		<div class="close-overlay-wrapper js-close-overlay"><i class="glyphicon glyphicon-remove-circle"></i></div>
		<div class="head">
			<h1>Forgot your password?</h1>
			<h5>Enter your email address</h5>
		</div>
		<form>
			{{> input seed='hjk' type='email' session='fyp-email' placeholder='Email Address' skipInUse=true}}
			<div class="controls">
				{{#if pageErrors}}
					<button type="button" class="special" disabled>Submit</button>
				{{else}}
					<button class="special">Submit</button>
				{{/if}}
				<button class="js-cancel-forgotpassword">Cancel</button>
			</div>
		</form>
	</div>
</template>
<!-- Forgot your password -->
<template name="Profile_Resetpassword">
	<div class="fyp-container">
		<div class="head">
			<h1><i class="glyphicon glyphicon-repeat"></i> Reset Your Password</h1>
		</div>
		<form>
			{{#if errorMsg}}<div class="error-msg">{{errorMsg}}</div>{{/if}}
			<div class="content">
				{{> input seed='xrb' type='password' label='Enter a new Password' placeholder='New Password' session='fyp-password-1' required=true gtlimit=8}}
				{{> input seed='xrb' type='password' label='Confirm your Password' placeholder='Confirm Password' session='fyp-password-2' required=true gtlimit=8}}
				{{> passwordRequirements}}
			</div>
			<div class="controls">
				<button class="special">Reset Password</button>
			</div>
		</form>
	</div>
</template>