<template name="Profile">
	<div class="profile-wrapper">
		{{#if isJobSeeker}}
			{{> Profile_JS}}
		{{else}}
			{{> Profile_Emp}}
		{{/if}}
	</div>
</template>

<!-- EDIT --> 
<template name="Profile_Edit_Login">
	<div class="content login-specific inline">
		<h3 class="content-header">Login Details</h3>
		<div class="content">
			<!-- PRIMARY EMAIL ADDRESS -->
			<h5 class="content-header">Primary Email Address</h5>
			<div class="content">
				{{#if isOwnProfile}}
					{{#if or emailChangeSuccess emailChangeFail}}
						{{#if emailChangeSuccess}}
							<div class="success-msg">{{{emailChangeSuccess}}}</div>
						{{/if}}
						{{#if emailChangeFail}}
							<div class="error-msg">{{{emailChangeFail}}}</div>
						{{/if}}
					{{else}}
						{{> input seed='gbd' session='email-address' label='Email Address' value=primaryEmail type='email' required=true}}
						{{#if emailChangeError}}
							<div class="error-msg">{{{emailChangeError}}}</div>
						{{/if}}
						<button class="js-save-email">Change Email</button>
					{{/if}}
				{{else}}
					<i style="color:gray;">Details reserved for the profile owner.</i>
				{{/if}}
			</div>
		</div>
		<div class="content">
			<!-- PASSWORD -->
			<h5 class="content-header">Password</h5>
			<div class="content">
				{{#if isOwnProfile}}
					{{#if or pwChangeFail pwChangeSuccess}}
						{{#if pwChangeFail}}
							<div class="error-msg">{{{pwChangeFail}}}</div>
						{{/if}}
						{{#if pwChangeSuccess}}
							<div class="success-msg">{{{pwChangeSuccess}}}</div>
						{{/if}}
					{{else}}
						{{> input seed='xyz' session='old-password' label='Old Password' type='password' required=true}}
						{{> input seed='xyz' session='new-password' label='New Password' type='password' gtlimit=8 required=true}}
						{{> input seed='xyz' session='new-password-2' label='Repeat Password' type='password' gtlimit=8 required=true}}
						{{> passwordRequirements}}
						{{#if pwChangeError}}<div class="error-msg">{{{pwChangeError}}}</div>{{/if}}
						<button class="js-save-password">Change Password</button>
					{{/if}}
				{{else}}
					<i style="color:gray;">Details reserved for the profile owner.</i>
				{{/if}}
			</div>
		</div>
	</div>
</template>